# Node / Expo
node_modules/
.expo/
dist/
npm-debug.*
*.log

# .NET
bin/
obj/
*.user
backend/appsettings.Development.json
admin/node_modules/
admin/.angular/

# Env / secrets
.env
*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
